.about-section {
    background-color: rgba(255, 255, 255, 0.5); 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: center; 
    text-align: right;
    height: 700px;
  }
  .about-image {
    width: 450px;
    height: 400px;
  display: flex;
    align-items: left;
    margin-right: 200px;
    margin-top: 200px;
  }
  
  .about-section h2 {
    margin-bottom: 10px;
    font-size: 2.5em;
    color: #ff0000;
    display: flex;
    text-align: justify;
    
  }
  
  .about-section p {
    font-size: 1.2em;
    color: #ffffff;
    text-align: start;
  }
  .logo-image-about {
    width: 100px;
    height: 100px;
    object-fit: cover;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
  }
  .navbar-brand-about {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px; 
  }

.logos-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}