.contact-section {
    background-color: rgba(255, 255, 255, 0.5); /* White background with 50% opacity */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for better visibility */
    max-width: 1440px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center items horizontally */
    height: 700px;
  }
  
  .contact-section h1 {
    font-size: 3em;
    color: #ff0000;
    margin-bottom: 20px;
  }
  
  .contact-section h2 {
    margin-bottom: 10px;
    font-size: 2.5em;
    color: #ff0000;
    text-align: justify;
  }
  
  .contact-section p {
    font-size: 1.2em;
    color: #ffffff;
    text-align: start;
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #ffffff; /* Make label text white */
  }
  
  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: rgba(0, 0, 0, 0.6); /* Dark background for input fields */
    color: #ffffff; /* White text color for input fields */
  }
  
  .form-group input::placeholder,
  .form-group textarea::placeholder {
    color: #cccccc; /* Light gray placeholder text */
  }
  
  .form-group input {
    height: 40px;
  }
  
  .form-group textarea {
    height: 100px;
    resize: vertical;
  }
  
  button[type="submit"] {
    padding: 10px 20px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  button[type="submit"]:hover {
    background-color: #e60000;
  }
  
  .social-icons {
    margin-top: 20px;
  }
  
  .social-icons a {
    margin: 0 10px;
    color: #ff0000;
    font-size: 2em;
    transition: color 0.3s;
  }
  
  .social-icons a:hover {
    color: #e60000;
  }
  .logo-image-contact {
    width: 30px;
    height: 30px;
    object-fit: cover;
    display: block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    background-color: rgba(0, 0, 0, 0);
  }
  .navbar-brand-contact {
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px; 
  }

.logos-container-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; 
}